h1 {
    color: rgb(175, 89, 89)
}

.btn-danger {
    background-color: rgb(175, 89, 89);
    border: none;
    color: rgb(216, 171, 237);
    margin-top: 15px;
    height: 40px;
}

input{
    border:none;
    margin: 1px;
    height: 30px;
    text-align: center;
}

ol{
    color: rgb(175, 89, 89)
}

span{
    color: rgb(175, 89, 89)
}

input{
    border: none;
    margin: 1px;
    width: 35px;
    color:
        rgb(216, 171, 237);
}

.normalInput{
    background-color: rgb(175, 89, 89);
}

.specialInput{
    color: rgb(175, 89, 89);
    border: 3px solid rgb(175, 89, 89);
    background-color: rgb(216, 171, 237);
    color: rgb(175, 89, 89);

}

.specialInput::placeholder {
    color: rgb(175, 89, 89);
}

.key{
    font-size: 30px;
}

